@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
}


/* li a {
    margin-right: 20px;
} */

h1,
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.css-input {
    outline: none;
}

.css-input:focus {
    box-shadow: none;
}

.css-nav {
    display: flex;
    justify-content: space-between;
}